<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:properties/CSVFilesLocation.properties"/>

    <bean id="csvWriter" class="utils.CSVWriter">
        <constructor-arg value="${students}"/>
    </bean>
    <bean id="questionsCSVReader" class="utils.CSVReader">
        <constructor-arg value="${questions}"/>
    </bean>
    <bean id="studentsCSVReader" class="utils.CSVReader">
        <constructor-arg value="${students}"/>
    </bean>

    <bean id="questionsService" class="services.impl.QuestionsServiceImpl" autowire="byName"/>
    <bean id="studentsService" class="services.impl.StudentServiceImpl" autowire="byName"/>

    <bean id="quizController" class="controllers.QuizController" autowire="byName"/>
    <bean id="quizView" class="ui.QuizView" init-method="initComponents" autowire="byName"/>

    <bean id="authorizationController" class="controllers.AuthorizationController" autowire="byName"/>
    <bean id="authorizationView" class="ui.AuthorizationView" init-method="initComponents" autowire="byName"/>

    <bean id="leaderboardView" class="ui.LeaderboardView" init-method="initComponents"/>

</beans>